#wrapper::-webkit-scrollbar{
    width: 5;
}


#wrapper #item{
    width: 500px;
    height: 200px;
    border-radius: 50;
    background-color: "#EFF1F7";
    margin-right: 50px;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 /* Handle */
#wrapper::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  #wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }